.header {
  position: relative;
  z-index: 120;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  border: var(--shadow-border);
  box-shadow: var(--shadow-card);
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.header__navegacion a,
.header__navegacion button {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 10px;
  column-gap: 4px;
  row-gap: 4px;
  transition: var(--transition-3s);
  position: relative;
  z-index: 1;
}
.header__navegacion a:hover,
.header__navegacion button:hover {
  background: rgba(125, 125, 125, 0.1);
}
.header__navegacion a:active,
.header__navegacion button:active {
  background: rgba(125, 125, 125, 0.2);
  transform: scale(0.95);
}
.header__navegacion a svg,
.header__navegacion button svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
.header__menu {
  display: none;
}
@media (max-width: 1000px) {
  .header__navegacion {
    position: fixed;
    top: 70px;
    right: 20px;
    max-width: 240px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(15, 15, 15, 0.95);
    border: var(--shadow-border);
    box-shadow: var(--shadow-card);
    z-index: 101;
    flex-direction: column;
    row-gap: 10px;
    transition: var(--transition-3s);
    padding: 10px;
    border-radius: 10px;
  }
  .header__navegacion a,
  .header__navegacion button {
    width: 100%;
    display: grid;
    grid-template-columns: 20px 1fr;
    text-align: left;
    column-gap: 10px;
  }
  .header__navegacion.open {
    opacity: 1;
    visibility: visible;
  }
  .header__menu {
    display: block;
  }
}
