.HeaderAdminTop {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 120;
  padding: 10px 20px;
  height: 100%;
  max-height: 80px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  border-bottom: var(--shadow-border);
  box-shadow: var(--shadow-card);
  transition: var(--transition-3s);
}
.HeaderAdminTop__top {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeaderAdminTop__right {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
}
.HeaderAdminTop__right a,
.HeaderAdminTop__right button {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 10px;
  column-gap: 4px;
  row-gap: 4px;
  transition: var(--transition-3s);
  position: relative;
  z-index: 1;
}
.HeaderAdminTop__right span,
.HeaderAdminTop__right button span {
  margin-right: auto;
}
.HeaderAdminTop__right a:hover,
.HeaderAdminTop__right button:hover {
  background: rgba(125, 125, 125, 0.1);
}
.HeaderAdminTop__right a:active,
.HeaderAdminTop__right button:active {
  background: rgba(125, 125, 125, 0.2);
  transform: scale(0.95);
}
.HeaderAdminTop__right a svg,
.HeaderAdminTop__right button svg {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}
.HeaderAdminTop__photoURL {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
span.HeaderAdminTop__displayName {
  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
