.serviciosPage {
  width: 100%;
  padding: 20px;
}
.servicios__grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - 110px);
}
.servicios__navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.servicios__navegacion a {
  text-align: center;
  width: 100%;
  padding: 10px;
  background: var(--primary);
  font-weight: 800;
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: var(--transition-3s);
}
.servicios__navegacion a:hover {
  opacity: 0.9;
}
.servicios__navegacion a.active {
  background: var(--white);
  color: var(--black);
}
.servicios__encabezado {
  margin-bottom: 30px;
  text-align: center;
}
.servicios__encabezado h2 {
  font-size: 30px;
  font-weight: 800;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.servicios__encabezado p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  margin-top: 10px;
}
.servicios_servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
}
.servicios_servicio {
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 5px;
  border: var(--shadow-border);
  box-shadow: var(--shadow-card);
  transition: var(--transition-3s);
  text-align: center;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}
.servicios_barberos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px 0;
}
.servicios_barberos .servicios_barberoImagen {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
  background: rgba(130, 130, 130, 0.1);
  border: var(--shadow-border);
  margin: 0 auto;
}
.servicios_barberos .servicios_barbero {
  text-align: center;
}
.servicios_barberos .servicios_barbero p {
  font-size: 14px;
}
.servicios_servicio.agotado {
  opacity: 0.7;
  cursor: not-allowed;
}
.servicios_servicio .agotado {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: var(--black);
  border: var(--shadow-border);
  box-shadow: var(--shadow-card);
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  user-select: none;
}
.servicios_servicio.agotado button:hover {
  cursor: not-allowed;
}
.servicios_servicio:hover {
  border-color: var(--white);
  border-color: var(--primary);
}
.servicios_servicio.selecionado {
  border-color: var(--primary);
  background: var(--primary);
}
.servicios_servicio.selecionado:hover {
  border-color: var(--shadow-border);
}
.servicios_servicio img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
  background: rgba(130, 130, 130, 0.1);
  border: var(--shadow-border);
}
.servicios_servicio h2 {
  font-size: 20px;
  font-weight: 800;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}
.servicios_servicio p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  opacity: 0.7;
  margin-top: 10px;
}
.servicios_servicio button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
.servicios_servicio.selecionado button.btn-primary {
  border: 1px solid transparent;
  transition: var(--transition-3s);
  border-color: var(--black);
  background: var(--black);
}
.servicios_servicio.selecionado button.btn-primary:hover {
  background: transparent;
  border-color: var(--white);
}
.servicios_servicio.selecionado button.btn-primary::before,
.servicios_servicio.selecionado button.btn-primary:hover::before {
  opacity: 0;
}
.servicios_servicioCantidad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.servicios_servicioCantidad p {
  width: 40px;
  margin: 0;
  user-select: none;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.servicios_servicioCantidad button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--shadow-border);
  margin: 0;
  border-radius: 50%;
  transition: var(--transition-3s);
}
.servicios_servicio.selecionado .servicios_servicioCantidad button {
  border-color: var(--white);
}
.servicios_servicioCantidad button:hover {
  border-color: #fff;
}
.servicios_servicioCantidad button:active {
  transform: scale(0.9);
}
.servicios_servicioCantidad button:disabled:hover,
.servicios_servicioCantidad button:disabled:active,
.servicios_servicioCantidad button:disabled {
  cursor: not-allowed;
  border: var(--shadow-border);
  transform: none;
}
.servicios_servicioCantidad button svg {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}
.servicios_servicio span {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--primary);
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  user-select: none;
}
.servicios_servicio.selecionado span {
  background: var(--black);
}
.servicios__botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 20px;
  gap: 20px;
  -webkit-column-gap: 20px;
}
.servicios__botones button {
  column-gap: 10px;
  gap: 10px;
}
button.btn-black {
  width: fit-content;
  margin-left: auto;
  border-color: var(--white);
}
.servicios__auth {
  position: relative;
}
.servicios__auth button {
  width: 100%;
}
.servicios__authContainer {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--fondo);
  padding: 20px;
  border-radius: 5px;
  border: var(--shadow-border);
  box-shadow: var(--shadow-card);
}
@media (max-width: 1000px) {
  .servicios__grid {
    grid-template-rows: auto 1fr;
  }
  .servicios__navegacion {
    flex-direction: column;
    gap: 20px;
  }
  .servicios__navegacion a {
    width: 100%;
  }
  .servicios__encabezado {
    margin-bottom: 20px;
  }
  .servicios__encabezado h2 {
    font-size: 24px;
  }
  .servicios__encabezado p {
    font-size: 14px;
  }
  .servicios_servicios {
    grid-template-columns: 1fr 1fr;
  }
  .servicios_servicio img {
    width: 80px;
    height: 80px;
  }
  .servicios_servicio h2 {
    font-size: 18px;
  }
  .servicios_servicio p {
    font-size: 14px;
  }
  .servicios_servicio button {
    margin-top: 10px;
  }
}
@media (max-width: 560px) {
  .servicios_servicios {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .servicios__botones span {
    display: none;
  }
}
