.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  border: var(--shadow-border);
  padding: 20px;
  margin-bottom: 10px;
}
