* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo: rgb(11, 11, 11);
  --white: #fff;
  --black: #000;
  --color-1: #f2f2f2;

  --primary: rgb(8, 132, 227);
  --primary-oscuro: rgb(0, 110, 193);

  --secondary: rgb(108, 99, 255);
  --secondary-oscuro: rgb(86, 77, 233);

  --btn-black: rgb(17, 17, 17);
  --btn-black-oscuro: rgb(0, 0, 0);

  --gray: gray;
  --gray-2: rgb(175, 175, 175);
  --color-1: #f2f2f2;

  --shadow-card: 0 0 10px 1px rgba(36, 36, 36, 0.4);
  --shadow-card-hover: 0 0 10px 1px rgba(36, 36, 36, 0.5);
  --shadow-border: 1px solid rgba(164, 164, 164, 0.1);

  --font-1: 'Poppins', sans-serif;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);

  --transition-3s: all 0.3s ease;
  --transition-5s: all 0.5s ease;
}
html {
  color-scheme: dark;
}
body {
  min-width: 320px;
  font-family: var(--font-1);
  background: var(--fondo);
  color: var(--color-1);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
}
input,
textarea,
button,
select {
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-1);
}
button {
  cursor: pointer;
  user-select: none;
}
a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  user-select: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}
svg {
  width: 30px;
  height: 30px;
  display: block;
}
/*=============== utilizades ===============*/
.title {
  position: relative;
}
.title::after {
  content: attr(title);
  display: block;
  min-width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: lowercase;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: #fff;
  border-radius: 6px;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--transition-3s);
  pointer-events: none;
}
.title.black::after {
  border: var(--shadow-border);
  background: linear-gradient(90deg, var(--btn-black), var(--btn-black-oscuro));
}
.title:hover::after {
  opacity: 1;
  top: -30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  gap: 10px;
  text-align: center;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: var(--transition-3s);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-3s);
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  z-index: -1;
}
.btn-primary:hover::before {
  opacity: 1;
}
.btn-primary:active {
  transform: scale(0.95);
}
.btn-primary:disabled {
  background: rgb(93, 93, 93);
  cursor: not-allowed;
}
.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  gap: 10px;
  text-align: center;
  background: linear-gradient(90deg, rgb(201, 9, 9), rgb(248, 49, 49));
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: var(--transition-3s);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-danger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-3s);
  background: linear-gradient(90deg, rgb(248, 49, 49), rgb(201, 9, 9));
  z-index: -1;
}
.btn-danger:hover::before {
  opacity: 1;
}
.btn-danger:active {
  transform: scale(0.95);
}
.btn-danger:disabled {
  background: rgb(93, 93, 93);
  cursor: not-allowed;
}
.btn-black {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  gap: 10px;
  text-align: center;
  border: var(--shadow-border);
  background: linear-gradient(90deg, var(--btn-black), var(--btn-black-oscuro));
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: var(--transition-3s);
  position: relative;
  z-index: 1;
}
.btn-black img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.btn-black::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-3s);
  background: linear-gradient(90deg, var(--btn-black-oscuro), var(--btn-black));
  z-index: -1;
}
.btn-black:hover::before {
  opacity: 1;
}
.btn-black:active {
  transform: scale(0.95);
}
.btn-black:disabled {
  background: rgb(93, 93, 93);
  cursor: not-allowed;
}
/*=============== alerta ===============*/
.alerta {
  grid-column: 1 / -1;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: var(--shadow-border);
  box-shadow: var(--shadow-card);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}
/*=============== logo ===============*/
.logo {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 20px;
}
.logo span {
  text-transform: uppercase;
  font-weight: 900;
  padding: 6px 10px;
  font-size: 18px;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: #fff;
  border-radius: 10px;
  text-shadow: 0 0 10px var(--primary-oscuro);
  margin-left: 4px;
}
/*=============== layoutAuth ===============*/
.layoutAuth {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 765px;
  background-image: url(/svg/burbujas.svg);
  background-repeat: no-repeat;
  background-size: auto;
  left: 50%;
  top: 0;
  background-position: center top;
  transform: translate(-50%);
}
.layoutAuth__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.layoutAuth__title .logo,
.layoutAuth__title span {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.layoutAuth__section {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--shadow-card);
  border: var(--shadow-border);
}
/*=============== form ===============*/
.form__cabezera {
  display: flex;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 30px;
}
.form__cabezera a {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition-3s);
}
.form__cabezera a:hover {
  color: var(--primary);
}
.form__cabezera a svg {
  margin-right: 4px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
.form legend {
  flex: 1;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  padding-right: 110px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form__link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
}
.form__link--right {
  text-align: right;
  color: var(--primary);
  margin-bottom: 20px;
}
.form__group {
  margin-bottom: 20px;
}
.form__group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--gray);
  text-transform: uppercase;
}
.form__group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: var(--shadow-border);
  background: rgba(24, 24, 24, 0.5);
  color: var(--color-1);
  font-size: 16px;
  font-weight: 400;
}
.form__group input::placeholder {
  color: rgb(93, 93, 93);
}
.form__group input:focus {
  border-bottom: 1px solid var(--primary);
}
.form button {
  width: 100%;
}
.form_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.form__redes {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}
.form__redes button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--shadow-border);
  background: rgba(24, 24, 24, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-3s);
}
.form__redes button:hover {
  background: rgba(24, 24, 24, 0.7);
  border-color: rgb(58, 58, 58);
}
.form__redes button:active {
  transform: scale(0.95);
}

/*=============== loader boton ===============*/
.pl,
.pl__worm {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pl {
  animation-name: bump;
  animation-timing-function: linear;
  width: 25px;
  height: 25px;
}
.pl__ring {
  stroke: hsla(var(--hue), 10%, 10%, 0.1);
  transition: stroke 0.3s;
}
.pl__worm {
  animation-name: worm;
  animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
  .pl__ring {
    stroke: hsla(var(--hue), 10%, 90%, 0.1);
  }
}

/* Animations */
@keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
    transform: translate(0, 0);
  }
  44% {
    transform: translate(1.33%, 6.75%);
  }
  53% {
    transform: translate(-16.67%, -0.54%);
  }
  61% {
    transform: translate(3.66%, -2.46%);
  }
  69% {
    transform: translate(-0.59%, 15.27%);
  }
  76% {
    transform: translate(-1.92%, -4.68%);
  }
  83% {
    transform: translate(9.38%, 0.96%);
  }
  90% {
    transform: translate(-4.55%, 1.98%);
  }
}
@keyframes worm {
  from {
    stroke-dashoffset: 10;
  }
  25% {
    stroke-dashoffset: 295;
  }
  to {
    stroke-dashoffset: 1165;
  }
}
